@tailwind base;
@tailwind components;
@tailwind utilities;

[type="number"] {
    appearance: none; /* standard property (Chrome, Edge, Safari) */
    -webkit-appearance: none; /* for older webkit browsers */
    -moz-appearance: textfield; /* Firefox */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-scrollbar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgba(74, 222, 128, 0.5) rgba(17, 24, 39, 0.3);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(17, 24, 39, 0.3);
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(74, 222, 128, 0.5);
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(74, 222, 128, 0.7);
}
